<p>
  <%# image_tag comment.user.image.variant(resize: "50x50") %>
  <strong><%= comment.user.name %>:</strong>
  <%= comment.body %> <br>
  <% if comment.user == current_user %>
    <%= link_to 'Edit', edit_post_comment_path(@post, comment) %> |
  <% end %>
  <% if comment.post.user == current_user || comment.user == current_user %>
    <%= link_to 'Destroy', [@post, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
  <% end %>
</p>
</p>
<hr>
