<h3> <%= link_to "Story: #{story.id}", story_path(story) %> </h3>
<p><%= story.user.name %></p>
<% if story.user == current_user %>
  <%= link_to 'Destroy', story_path(story),
            method: :delete,
            data: { confirm: 'Are you sure?' } %></td>
<% end %>
<hr>
