<div class="card mx-auto" style="width: 40rem;">
  <div class="card-header">
    <%= @story.user.name %>
  </div>
  <div class="card-body">
    <%= cl_image_tag @story.image.key, class: "card-img-top" %>
  </div>
  <div class="card-footer">
    <%= @story.caption %>
  </div>
  <div class="container">
    <%= link_to 'Back', stories_path, class: "btn btn-primary mb-3 mt-3" %>
  </div>
</div>
